<h1>Skills</h1>


<h1>Softwares</h1>

<p>Code Editor: VS Code</p>
<p>Notion</p>
<p>Discord</p>
<p>Telegram</p>
<p>Slack</p>
<p>Instagram</p>
<p>Spotify</p>
<p>Docker</p>
<p>XAMAPP</p>

<p>Wndows 11</p>

<p>NPM</p>
<p>Yarn</p>

<p>Node</p>
<p>NVM</p>

<p>Most Used Extensions in VS Code:</p>



<p>Most Used Extensions in Chrome:</p>



<h1>Hardwares</h1>

<a href="">Laptop : Hp</a>
<a href="">External Keyboard & Mouse: Dell(Wireless)</a>
<a href="">Headphone: Boat Rockerz</a>
<a href="">Laptop Stand</a>
<a href="">Chair</a>
<a href="">Blu Ray Glasses</a>
<a href="">Realme Smart Bulb</a>
<a href="">TWS: Boat Airdopes 161</a>
<a href="">Realme Wireless Headband</a>
<a href="">Mobile Stand</a>
<a href="">Watches</a>

<h2>Setup</h2>

<img src="" alt="">

<h1>Books</h1>

<p>Cracking the Coding Interview</p>
<p>Clean Code</p>