<div class="flex flex-row gap-4 justify-center">
    <div class="bg-white rounded overflow-hidden shadow-lg w-72">
        <img class="w-full mx-auto" src="/assets/images/laptopIcon.jpeg" alt="Card Image">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-center">HP</div>
            <p class="text-gray-700 text-base text-center">Description</p>
        </div>
        <div class="px-6 py-4 text-center">
            <a href="your-link.com"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Visit Link</a>
        </div>
    </div>
    <div class="bg-white rounded overflow-hidden shadow-lg w-72">
        <img class="w-full mx-auto" src="/assets/images/keyboard&mouse.jpeg" alt="Card Image">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-center">Keyboard & Mouse</div>
            <p class="text-gray-700 text-base text-center">Description</p>
        </div>
        <div class="px-6 py-4 text-center">
            <a href="your-link.com"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Visit Link</a>
        </div>
    </div>
    <div class="bg-white rounded overflow-hidden shadow-lg w-72">
        <img class="w-full mx-auto" src="/assets/images/specs.png" alt="Card Image">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-center">Specs</div>
            <p class="text-gray-700 text-base text-center">Description</p>
        </div>
        <div class="px-6 py-4 text-center">
            <a href="your-link.com"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Visit Link</a>
        </div>
    </div>
</div>