<!-- <app-wip></app-wip> -->
<div class="container sm:w-1/2 w-10/12 mx-auto">
    <p class="text-center font-extrabold text-3xl">Blogs I have posted📝!</p>
    <p class="font-bold text-3xl pt-4">
        Dev.to
    </p>
    <div class="pt-4">
        <ul class="list-disc">
            <li class="text-lg">
                <a href="https://dev.to/manthanank/npm-3nhh" class="font-bold">NPM Cheatsheet</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/yarn-6b5" class="font-bold">YARN Cheatsheet</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/nvm-on-windows-1oe8" class="font-bold">Install NVM on windows</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/generating-component-in-angular-using-climanually-43pj" class="font-bold">Generating Component in Angular (Using CLI/Manually)</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/creating-service-using-climanually-fl2" class="font-bold">Creating Service In Angular Using CLI/Manually</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/deploy-angular-app-to-github-pages-gjl" class="font-bold">Deploy Angular app to GitHub Pages</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/analyze-react-app-size-28ng" class="font-bold">Analyze React App Size</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/set-up-flask-print-hello-world-1bmk" class="font-bold">Set-up Flask & Print Hello World!</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/docker-cheatsheet-bk6" class="font-bold">Docker Cheatsheet</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/deno-installupgrade-steps-30ik" class="font-bold">Deno Install/Upgrade steps</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/mongodb-cheatsheet-9do" class="font-bold">MongoDB Cheatsheet</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/adding-bootstrap-to-angular-projects-8g8" class="font-bold">Adding Bootstrap to Angular projects.</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/adding-tailwind-css-to-angular-projects-5132" class="font-bold">Adding Tailwind CSS to Angular projects.</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/data-types-in-javascript-4ehg" class="font-bold">Data types in JavaScript</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/using-cloudgragh-in-projects-3ij2" class="font-bold">Using cloudgragh in projects</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/set-up-ssh-key-for-gitlab-on-windows-4gnd" class="font-bold">Set up SSH key for GitLab on Windows</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/javascript-var-let-const-5f53" class="font-bold">Understanding the Differences Between JavaScript's var, let, and const</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/github-repositories-part-1-5hb7" class="font-bold">GitHub Most Used Repositories : Part 1</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/vs-code-extensions-part-1-268a" class="font-bold">VS Code Most Used Extensions : Part - 1</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/vs-code-extensions-part-2-394b" class="font-bold">VS Code Most Used Extensions : Part 2</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/github-repositories-part-2-3pp3" class="font-bold">GitHub Most Used Repositories : Part 2</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/adding-angular-material-to-angular-projects-3bc4" class="font-bold">Adding Angular Material to Angular Projects.</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/getting-started-with-angular-and-firebase-a-step-by-step-guide-to-deploy-to-firebase-2d3b" class="font-bold">Angular with Firebase setup & deployment.</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/getting-started-with-nodejs-expressjs-and-graphql-a-beginners-example-project-523k" class="font-bold">Getting Started with Node.js, Express.js, and GraphQL: A Beginner's Example Project</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/exploring-angular-with-github-repositories-top-picks-for-learning-and-development-7ci" class="font-bold">Exploring Angular with GitHub Repositories: Top Picks for Learning and Development</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/setting-up-nodejs-with-typescript-mh7" class="font-bold">Setting Up Nodejs with Typescript</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/upgrade-all-installed-softwares-using-command-line-289i" class="font-bold">Upgrade all installed software's using command line</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/learn-javascript-from-this-github-repo-36bp" class="font-bold">Learn JavaScript from this GitHub repo</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/publish-angular-library-to-npm-f5j" class="font-bold">Publish Angular Library to NPM</a>
            </li>
            <li class="text-lg">
                <a href="https://dev.to/manthanank/lintree-clone-in-angular-4a14" class="font-bold">Lintree Clone in Angular</a>
            </li>
        </ul>
    </div>
    <p class="font-bold text-3xl pt-4">
        Medium
    </p>
    <div class="pt-4">
        <ul class="list-disc">
            <li class="text-lg">
                <a href="https://manthanank.hashnode.dev/github-repository-to-learn-javascript-and-resources" class="font-bold">GitHub repository to learn JavaScript and resources</a>
            </li>
        </ul>
    </div>
    <p class="font-bold text-3xl pt-4">
        Hashnode
    </p>
    <div class="pt-4">
        <ul class="list-disc">
            <li class="text-lg">
                <a href="https://manthanank.medium.com/learn-javascript-from-this-github-repository-2c645720cc7e" class="font-bold">Learn JavaScript from this GitHub repository</a>
            </li>
        </ul>
    </div>
    <div class="pt-4">
        <ul class="list-disc" *ngFor="let item of blogs">
            <li class="text-lg">
                <a href="{{item.url}}" class="font-bold">{{item.title}}</a>
            </li>
        </ul>
    </div>
</div>