<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Education</h3>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h4>Sahyadri College of Engineering & Management</h4>
        <p class="text-muted">Aug 2016 - Aug 2020</p>
        <h6 class="text">Bachelor's Degree, Computer Science</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Internships</h3>
    </div>
    <div class="col-md-8">
      <div class="row row-cols-1">
        <h4>AppiVa Software Pvt Ltd. - <strong>Front End Developer</strong></h4>
        <p class="text-muted">July 2022 - Present</p>
        <p class="text">
          Joined as Front End Developer. Working in main project ie, on angular
          and backend project in node.js and python
        </p>
      </div>
      <div class="row row-cols-1">
        <h4>Faclon Labs Pvt Ltd. - <strong>Front End Developer</strong></h4>
        <p class="text-muted">Nov 2021 - May 2022</p>
        <p class="text">
          It was six months internship in angular as a front-end developer. My
          work work was to design and develop in projects like Admin Panel, Main
          Project, Report UI.
        </p>
      </div>
      <div class="row">
        <h4>Karanji InfoTech Pvt Ltd. - <strong>Student Internship</strong></h4>
        <p class="text-muted">June 2019 - July 2019</p>
        <p class="text">
          Took Online Training programme where learnt Front End Technologies and
          work in Angular Framework with HTML5, CSS3, JavaScript, jQuery, etc.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Training</h3>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h4>SounderGrad Traning Programme. - <strong>Trainee</strong></h4>
        <p class="text-muted">May 2021 - Aug 2021</p>
        <h6></h6>
        <p class="text">
          Completed one month internship and project on machine learning using
          python “Conversion Text to Speech Construction Using Multiple Data
          (CSV file)”.
        </p>
      </div>
    </div>
  </div>
</div>
