<div class="containter">
    <div class="text-center pt-5 font-extrabold text-7xl">
        About
    </div>
    <div class="text-center text-2xl font-medium p-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequatur eius illum deserunt
        praesentium, repudiandae delectus! Fugit, quos. Repellat, voluptas veritatis. Quis a id consectetur eligendi
        minima. Illo, porro soluta?
    </div>
    <div class="flex flex-row p-5">
        <div class="basis-1/4">
            <div class="text-left p-5 font-bold text-2xl">
                Experience
            </div>
        </div>
        <div class="basis-3/4">
            <div class="flex flex-col">
                <div class="basis-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse provident quo reiciendis
                    harum nesciunt consequatur dolorem omnis sequi, aperiam corrupti quae numquam quisquam ad ipsum?
                    Nulla ipsam fugit corporis.
                </div>
                <div class="basis-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse provident quo reiciendis
                    harum nesciunt consequatur dolorem omnis sequi, aperiam corrupti quae numquam quisquam ad ipsum?
                    Nulla ipsam fugit corporis.
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row p-5">
        <div class="basis-1/4">
            <div class="text-left p-5 font-bold text-2xl">
                Education
            </div>
        </div>
        <div class="basis-3/4">
            <div class="flex flex-col">
                <div class="basis-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse provident quo reiciendis
                    harum nesciunt consequatur dolorem omnis sequi, aperiam corrupti quae numquam quisquam ad ipsum?
                    Nulla ipsam fugit corporis.
                </div>
                <div class="basis-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse provident quo reiciendis
                    harum nesciunt consequatur dolorem omnis sequi, aperiam corrupti quae numquam quisquam ad ipsum?
                    Nulla ipsam fugit corporis.
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row p-5">
        <div class="basis-1/4">
            <div class="text-left p-5 font-bold text-2xl">
                Skills
            </div>
        </div>
        <div class="basis-3/4">
            <div class="flex flex-row">
                <div class="basis-12">
                    1
                </div>
                <div class="basis-12">
                    2
                </div>
                <div class="basis-12">
                    1
                </div>
                <div class="basis-12">
                    2
                </div>
                <div class="basis-12">
                    1
                </div>
                <div class="basis-12">
                    2
                </div>
                <div class="basis-12">
                    1
                </div>
                <div class="basis-12">
                    2
                </div>
                <div class="basis-12">
                    1
                </div>
                <div class="basis-12">
                    2
                </div>
                <div class="basis-12">
                    1
                </div>
                <div class="basis-12">
                    2
                </div>
                <div class="basis-12">
                    1
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row p-5">
        <div class="basis-1/4">
            <div class="text-left p-5 font-bold text-2xl">
                Certifications
            </div>
        </div>
        <div class="basis-3/4">
            <div class="flex flex-row">
                <div class="basis-1/4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse provident quo reiciendis
                    harum nesciunt consequatur dolorem omnis sequi, aperiam corrupti quae numquam quisquam ad ipsum?
                    Nulla ipsam fugit corporis.
                </div>
            </div>
        </div>
    </div>
</div>