<div class="containter">
  <div class="text-center pt-5 font-extrabold text-3xl">
    About Me
  </div>
  <div class="text-center text-2xl font-medium p-5">
    Hi👋 there! I'm <strong>Manthan</strong>. You might also know me as <strong>manthanank</strong>. I started my
    journey
    in web development and now I am a working as
    a
    <strong>Front End Developer</strong> in <strong>AppiVa Software Pvt Ltd</strong>. I've been coding over 5+
    years now. I have done few internships and worked on many different projects.
  </div>

  <div class="text-center pt-5 font-extrabold text-3xl">
    Get In Touch
  </div>
  <div class="text-center text-2xl font-medium p-5">
    Please feel free to contact me, here!
  </div>
  <div class="text-center">
    <div>github</div>
    <div>twitter</div>
    <div>linkedin</div>
    <div>intstagram</div>
  </div>
</div>
