<header>
  <app-navbar></app-navbar>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-about></app-about>
    </div>
    <div class="col-md-12">
      <app-experience></app-experience>
    </div>
    <div class="col-md-12">
      <app-profiles></app-profiles>
    </div>
    <div class="col-md-12">
      <app-projects></app-projects>
    </div>
    <div class="col-md-12">
      <app-skills></app-skills>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
