<header>
  <app-navbar></app-navbar>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Manthan Ank</h2>
      <h3>Front End Developer</h3>
      <img src="" alt="" />
    </div>
    <div class="col-md-12">
      <h1>About</h1>
      <app-about></app-about>
    </div>
    <div class="col-md-12">
      <h1>Experience</h1>
      <app-experience></app-experience>
    </div>
    <div class="col-md-12">
      <h1>Skills</h1>
      <app-skills></app-skills>
    </div>
    <div class="col-md-12">
      <h1>Projects</h1>
      <app-projects></app-projects>
    </div>
    <div class="col-md-12">
      <h1>Profiles</h1>
      <app-profiles></app-profiles>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
