<section>
  <div class="pt-24 md:pt-8">
    <img class="w-40 h-40 p-3 md:mt-4 md:w-48 md:pt-4 md:h-48 md:rounded-full rounded-full mx-auto"
      src="./assets/images/profile-picture.webp" alt="" width="384" height="512">
  </div>
  <div class="pt-4">
    <p class="text-2xl font-extrabold text-center">
      Hey, I'm Manthan Ank
    </p>
    <p class="text-7xl font-extrabold text-center">
      Front End Developer
    </p>
    <p class="text-center">
      1+ Years experience as Front End Developer & Beginner in Backend Development
    </p>
    <div class="container p-12 text-center">
      <div class="flex flex-row text-center">
        <p class="basis-1/4">Resume</p>
        <p class="basis-1/4">Twitter</p>
        <p class="basis-1/4">GitHub</p>
        <p class="basis-1/4">Email</p>
      </div>
    </div>
  </div>
</section>