<div id="container--main">
  <section id="wrapper--hero" class="section--page">
    <img
      id="profile-pic"
      class="lazyload"
      rawSrc="./assets/images/profile-picture.webp"
      alt="profile-pic"
    />

    <div>
      <h1 id="user-name">Manthan Ank</h1>
      <p id="bio">
        Front End Developer, Web Designer, and a passionate learner. Karnataka,
        India.
      </p>
      <a href="https://manthanank.xyz" target="_blank" rel="nofollow"
        >Porfolio website</a
      >
      <p id="email">
        👉 <a href="mailto:manthanank@gmail.com">manthanank@gmail.com</a>
      </p>
    </div>
  </section>

  <section class="section--page">
    <div id="socials--list">
      <a href="https://twitter.com/manthanank" target="_blank">Twitter</a>
      <a href="https://www.linkedin.com/in/manthan-ankolekar/" target="_blank"
        >Linkedin</a
      >
      <a href="https://github.com/manthanank" target="_blank">Github</a>
      <a href="./assets/resume.pdf" target="_blank">Download Resume</a>
    </div>
  </section>

  <section class="section--page">
    <h2>Skills & Qualifications</h2>
    <ul id="qualifications--list">
      <li>
        ✔️ 2 Years experience with front & Beginner in backend development
      </li>
    </ul>
  </section>

  <section class="section--page">
    <h2>Tech stack</h2>

    <div id="wrapper--techstack__items">
      <div class="card--techstack">
        <span>NodeJS, Express</span>
      </div>
      <div class="card--techstack"><span>JavaScript, Angular</span></div>
      <div class="card--techstack">
        <span>MongoDB, MySQL</span>
      </div>
    </div>
  </section>

  <section id="work-history-wrapper" class="section--page">
    <h2>Work History</h2>

    <div class="line-break"></div>
    <div class="card--work-history">
      <strong>🚧 FRONT END DEVELOPER | EZTASK.IO</strong>
      <p>07/2022 - Present</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
        laudantium ex iure dolor, culpa sed eum! Saepe, alias similique,
        veritatis incidunt corrupti quo expedita maiores laudantium sunt sed
        facere nobis?
      </p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          beatae nemo veritatis nam iure odio, amet, numquam quas corrupti alias
          earum libero dolorum accusamus similique consequuntur in? Placeat,
          minima molestiae.
        </li>
      </ul>
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
      <strong>🚧 FRONT END DEVELOPER INTERN | FACLON LABS PVT LTD</strong>
      <p>11/2021 - 04/2022</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptate
        fugiat atque corporis libero tenetur beatae fuga fugit dolor officia
        cumque dolores sint cupiditate eaque nobis enim, sapiente tempore vel.
      </p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          molestias porro asperiores quis ipsum sapiente ratione magni placeat a
          voluptates officia, eligendi laudantium impedit eos voluptatum aliquid
          exercitationem consequatur consectetur.
        </li>
      </ul>
    </div>

    <div class="line-break"></div>
  </section>

  <section class="section--page">
    <h2>Projects</h2>

    <div class="card--project">
      <a routerLink="projects/project-1"> ><span>🏆 </span>Project-1</a>
    </div>

    <div class="card--project">
      <a routerLink="/projects/project-2"> ><span>🏆 </span>Project-2</a>
    </div>
  </section>
</div>
