<div id="container--main">
  <section id="wrapper--hero" class="section--page">
    <img id="profile-pic" class="lazyload" src="./assets/images/profile-picture.webp" alt="profile-pic" />

    <div>
      <h1 id="user-name">Manthan Ank</h1>
      <p id="bio">
        Front End Developer, Web Developer, and a passionate learner. Karnataka,
        India.
      </p>
      <a href="https://manthanank.xyz" target="_blank" rel="nofollow">🌐 www.manthanank.xyz</a>
      <p id="email">
        ✉️ <a href="mailto:manthanank@gmail.com">manthanank@gmail.com</a>
      </p>
    </div>
  </section>

  <section class="section--page">
    <div id="socials--list">
      <a href="https://twitter.com/manthanank" target="_blank">Twitter</a>
      <a href="https://www.linkedin.com/in/manthan-ankolekar/" target="_blank">Linkedin</a>
      <a href="https://github.com/manthanank" target="_blank">Github</a>
      <a href="https://docs.google.com/document/d/1Ba40AaV2Ol5hueeVe5wCI1GeBEtcPJXp3mzm-HZ6BHk/edit?usp=sharing"
        target="_blank">Download
        Resume</a>
    </div>
  </section>

  <section class="section--page">
    <h2>Skills & Qualifications</h2>
    <ul id="qualifications--list">
      <li>
        ✔️ 2 Years experience in Front End & Beginner in Backend Development
      </li>
    </ul>
  </section>

  <section class="section--page">
    <h2>Tech stack</h2>

    <div id="wrapper--techstack__items">
      <div class="card--techstack">
        <span>NodeJS, Express</span>
      </div>
      <div class="card--techstack"><span>JavaScript, Angular</span></div>
      <div class="card--techstack">
        <span>MongoDB, MySQL, Firebase</span>
      </div>
    </div>
  </section>

  <section id="work-history-wrapper" class="section--page">
    <h2>Work History</h2>

    <div class="line-break"></div>
    <div class="card--work-history">
      <strong>🚧 FRONT END DEVELOPER INTERN | AppiVa Software Pvt Ltd</strong>
      <p>JULY 2022 - Present</p>
      <p>
        Designing & Developing in projects
      </p>
      <ul>
        <li>Worked for 3 months as Intern in Front End & Backend Projects</li>
        <li>
          Angular as Front End Framework & Nodejs, Python as Backend with Firebase as Database and also manage it.
        </li>
      </ul>
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
      <strong>🚧 FRONT END DEVELOPER INTERN | FACLON LABS PVT LTD</strong>
      <p>NOV 2021 - APRIL 2022</p>
      <p>
        Designed and Developed in various projects like IOSense(main project), Admin Panel, Report UI.
      </p>
      <ul>
        <li>
          Worked as Intern for 3 months & Full Time Intern for 3 months in Angular Projects.
        </li>
        <li>
          Managed and worked with backend API in front-end.
        </li>
      </ul>
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
      <strong>🚧 TRAINING PROGRAMME | SOUNDERGRAD</strong>
      <p>MAY 2021 - AUG 2022</p>
      <p>
        Completed the program with varoius project and gain knowledge in Front End Development.
      </p>
      <ul>
        <li>
          Main project is COVID-19 Tracker in Angular with API.
        </li>
        <li>
          Period of the program was 4 months.
        </li>
      </ul>
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
      <strong>🚧 COLLEGE INTERSNHIP | KARANJI INFOTECH PVT LTD</strong>
      <p>MAY 2021 - AUG 2022</p>
      <p>
        Completed one month internshi in Machine Learning using Python.
      </p>
      <ul>
        <li>
          Worked on small project as a assignment ie, "Text to Speech Conversion Using CSV Data files."
        </li>
        <li>
          Gained some knowledge in Machine Learning using Python.
        </li>
      </ul>
    </div>

    <div class="line-break"></div>
  </section>

  <section id="education-history-wrapper" class="section--page">
    <h2>Education History</h2>

    <div class="card--education-history">
      <strong>🎓 SAHYADRI COLLEGE OF ENGINEERING & MANAGEMENT</strong>
      <p>AUG 2016 - AUG 2020</p>
      <p>
        Graduated in Computer Science
      </p>
    </div>

    <div class="line-break"></div>
  </section>

  <section class="section--page">
    <h2>Projects</h2>

    <div class="card--project">
      <a routerLink="projects/project-1"> ><span>🏆 </span>Project-1</a>
    </div>

    <div class="card--project">
      <a routerLink="/projects/project-2"> ><span>🏆 </span>Project-2</a>
    </div>
  </section>
</div>