<div class="containter">
    <div class="text-center pt-5 font-extrabold text-7xl">
        Projects
    </div>
    <div class="text-center text-2xl font-medium p-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequatur eius illum deserunt
        praesentium, repudiandae delectus! Fugit, quos. Repellat, voluptas veritatis. Quis a id consectetur eligendi
        minima. Illo, porro soluta?
    </div>
    <div class="flex flex-row">
        <div class="basis-1/2 p-5">1</div>
        <div class="basis-1/2 p-5">1</div>
    </div>
    <div class="flex flex-row">
        <div class="basis-1/2 p-5">1</div>
        <div class="basis-1/2 p-5">1</div>
    </div>
    <div class="flex flex-row">
        <div class="basis-1/2 p-5">1</div>
        <div class="basis-1/2 p-5">1</div>
    </div>
    <div class="flex flex-row">
        <div class="basis-1/2 p-5">1</div>
        <div class="basis-1/2 p-5">1</div>
    </div>
</div>