<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <h5>Github</h5>
      <img src="..." class="img-thumbnail" alt="..." />
    </div>
    <div class="col">
      <h5>LinkedIn</h5>
      <img src="..." class="img-thumbnail" alt="..." />
    </div>
    <div class="col">
      <h5>Twitter</h5>
      <img src="..." class="img-thumbnail" alt="..." />
    </div>
    <div class="col">
      <h5>Medium</h5>
      <img src="..." class="img-thumbnail" alt="..." />
    </div>
    <div class="col">
      <h5>Dev.To</h5>
      <img src="..." class="img-thumbnail" alt="..." />
    </div>
    <div class="col">
      <h5>StackOverflow</h5>
      <img src="..." class="img-thumbnail" alt="..." />
    </div>
  </div>
</div>
