h6{
    text-align: end;
    margin-bottom: 0;
    font-family: cursive;
}
.row{
    padding: 10px;
}
.progress-bar{
    background-color: #1e0505;
}
.sr-only{
    font-family: cursive;
}

/* media query */
@media (max-width: 768px) {
    h6{
        text-align: left;
    }
}