<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Education</h3>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h4>Sahyadri College of Engineering & Management</h4>
        <p>2016 - 2020</p>
        <h6>Bachelor's Degree, Computer Science</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Training</h3>
    </div>
    <div class="col-md-8">
      <div class="row row-cols-1">
        <h4>AppiVa Software Pvt Ltd.</h4>
        <p>July 2022 - Present</p>
        <h6>Front End Developer</h6>
      </div>
      <div class="row row-cols-1">
        <h4>Faclon Labs Pvt Ltd.</h4>
        <p>Nov 2021 - May 2022</p>
        <h6>Front End Developer</h6>
      </div>
      <div class="row">
        <h4>Karanji InfoTech Pvt Ltd.</h4>
        <p>June 2019 - July 2019</p>
        <h6>Student Internship</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Internships</h3>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h4>SounderGrad Traning Programme.</h4>
        <p>May 2021 - Aug 2021</p>
        <h6>Trainee</h6>
      </div>
    </div>
  </div>
</div>
