h3{
    font-family: cursive;
    /*text-decoration: underline solid rgb(96, 6, 6); */
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}
h4{
    font-family: cursive;
    font-weight: bold;
    font-size: 1.2em;
}
.text-muted{
    font-family: cursive;
    font-size: small;
}
.row{
    margin-bottom: 10px;
}
.text{
    font-family: cursive;
    font-size: medium;
    margin-top: -10px;
}

/* responsive */
@media (max-width: 768px) {
    h3{
        text-align: center;
        margin-bottom: 30px;
    }
    h4{
        text-align: center;
    }
    strong{
        /* next-line */
        display: block;
        font-size: medium;
        font-style: italic;
    }
    .text-muted{
        text-align: center;
    }
    .text{
        font-size: medium;
        text-align: center;
        margin-bottom: 30px;
    }
}